<!DOCTYPE html>
<link rel="stylesheet" th:href="@{/Styles/Base.css}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="HeaderBar :: header"></div>
<ul>
    <li th:each="item: ${Servers}">
        <H1>Server Info:</H1>
            <span>
                <p th:text ="${item[0]}"></p>
                <p th:text ="${item[1]}"></p>
            </span>
            <span>
                <a class="ui-button" th:href="@{/Home/Server/Delete/{id}(id=${item[0]})}">Delete</a>
            </span>

    </li>
    <li>
<form action="#" th:action="@{/Home/Server}" th:object="${ServerInformation}" method="post">
    <label>ServerName: </label>
    <input type="text" th:field="*{PodName}" placeholder="ServerName">
    <label>PortNumber:</label>
    <input type="number" th:field="*{PortNumber}">
    <button type="submit">Submit</button>
</form>
    </li>
</ul>
</body>
</html>